.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: #e1e3ea;
    height: 100vh;
    font-family: sans-serif;
}

.gjoremal {
    width: 60%;
}

@media (max-width: 768px) {
    .gjoremal {
        width: 90%;
    }
}

.gjoremal h1 {
    color: white;
    font-size: 40px;
    padding: 10px 0;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: indianred;
    font-family: "Open Sans", sans-serif;
}

.gjoremal form {
    display: flex;
    width: 100%;
    background-color: #262e4c;
}

.gjoremal form input {
    border: none;
    background-color: #3c4979;
    font-size: 18px;
    color: white;
    padding: 10px;
    width: 90%;
}

.gjoremal form button {
    border: none;
    color: white;
    background-color: #1dd2af;
    font-size: 25px;
    font-weight: 600;
    height: 42px;
    width: 10%;
}

.gjoremal ul {
    list-style: none;
    color: #e0e0e0;
    padding: 0;
}

.gjoremal ul li {
    padding: 10px;
    background-color: #262e4c;
    border-bottom: 1px solid #3a4674;
}

.check {
    width: 0.8em;
    height: 0.8em;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    -webkit-appearance: none;
}

.check:checked {
    background-color: #1dd2af;
}

.task {
    font-size: 18px;
    padding: 0 10px;
}

.task:focus {
    outline: none;
}

.gjoremal ul li i {
    float: right;
    cursor: pointer;
}

.gjoremal ul li i:hover {
    color: rgb(255, 82, 82);
}

.complete {
    color: rgba(192, 192, 192, 0.842);
    text-decoration: line-through;
}
