/* starten på stylesheet*/
body {
    /*test av link*/
    margin: 0;
    background-color: lightblue;
}
a {
    color: black;
    text-decoration: none;
}

    background-color: rgb(0, 153, 255);
    border: 2px solid black;
    padding: 1em 2em;
}

    background-color: rgb(34, 209, 18);
}
.btn:focus {
}
#mpNav {
    height: 65vh;
    width: 100vw;
    font-size: large;
}
#mpNav h1 {
    font-weight: bold;
    margin-left: 5rem;
}
#mpNav ul {
    list-style: none;
}
#mpNav li {
    margin: 5rem 2rem;
}
#mpHeader {
    height: 25vh;
    width: 100vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid #000000;
}
#mpHeader :first-child {
    align-self: center;
}
#mpHeader :last-child {
    align-self: center;
}
#mpHeader img {
    height: 12vh;
    width: 12vh;
    border-radius: 12vh;
    border: 1px solid #000000;
    background-color: rgb(0, 153, 255);
    text-align: center;
}
#mpHeader p {
    display: inline-flex;
    font-size: 1.5rem;
}
#fNav {
    box-sizing: border-box;
    height: 10vh;
    width: 100vw;
    background-color: rgb(0, 153, 255);
    border: 1px solid #000;
    position: fixed;
    bottom: 0;
}
#oppgTabell {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#oppgTabell td,
#oppgTabell th {
    border: 1px solid #ddd;
    padding: 8px;

    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(0, 153, 255);
    color: white;

  }
  ul {list-style-type: none;}

  #oppgTabell tfoot{
    border: 1px solid #ddd;
    padding: 8px;
    background-color: rgb(34, 209, 18);
  }

  #oppgTabell #aktivUke{
    background-color: rgb(34, 209, 18);
    color: blue;
  }

body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: rgb(0, 153, 255);
  text-align: center;

}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .oppgave {

  padding: 5px;
  background: rgb(0, 153, 255);
  color: white !important

}

.days li .oppgave:hover {
    padding: 7px;
    background: rgb(34, 209, 18);
}
.oppgave {
    position: relative;
    display: inline-block;
}
.oppgave .test {
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}
.oppgave .test::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
}
.oppgave:hover .test {
    visibility: visible;
}
/*
.test{
    visibility: hidden;
}
.test .oppgave:hover{
    visibility: visible;
}
.test:hover{
    visibility: visible;
}
*/
